.main {

    right: 0;
    display: flex;
    color: black;
    padding: 1rem;
}

.arabic {
    display: flex;
    direction: rtl;
    flex: auto !important;
    align-items: center;

}

.english {
    display: flex;
    direction: ltr;
    align-items: center;
        flex: auto !important;
}


 .navbar-collapse {
     display: flex !important;
 }


.logo {
    background-color: rgb(214, 214, 213);
    padding: 2rem 1rem;
    border-radius: 50px 0 45px;
    transition: .5s;
}

.logo:hover {
    background-color: rgb(253, 5, 5);

}

.logoimage {
    width: 130px;
    width: 150px;
    background-color: #c8c6c65c;
    padding: .75rem 2rem;
    border-radius: 45px;
    transition: .5s;
}

.logoimage:hover {
    background-color: hsla(0, 3%, 70%, 0.561);
    border-radius: 50px 0 50px;
}


.ulist{
    display: flex;
    align-items: center;
}
.ulist li a{margin: 1rem; }
.navbar-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar-toggler {
    color: white !important;
    outline: none;
    font-size: 2rem;
}

.navbar-toggler svg {

    font-size: 2rem;
}

button:focus:not(:focus-visible) {
    outline: 0;
    border: none;
    box-shadow: none;
}

.nav-item {
    margin: 0 1rem;

}



.nvli {
    text-align: center;
    border-bottom: 1px solid #343434;
}

.nborder {
    border: none !important;
}

/* .btn-lang {
    margin-left: 1rem;
    padding: .5rem;
    color: green;
    border: none;
}

.btn-lang:last-of-type {
    margin-right: 1rem;
} */

@media only screen and (max-width: 768px) {

    .navbar-nav {
        display: none;
    }

    .navbar-toggler {
        display: block;
    }

    .logo {
        padding: .2rem .7rem;
    }

    .logoimage {
        padding: .2rem .9rem;
    }



    .navbar-collapse.show {
        display: block;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        margin: 1rem 0;
    }
}

@media only screen and (min-width: 1025px) {

    .navbar-nav {
        margin-left: auto;
        display: flex;
    }

    .navbar-collapse {
        display: flex !important;
    }

    .navbar-toggler {
        display: none;
    }

    .navbar-nav .nav-item {
        margin: 0 1.5rem;
    }
}